@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Fonts */
    --fonte-principal: "Montserrat", sans-serif;

    /* Colors */
    --branco-fonte: #ffff;
    --branco-transparente: #ffffff25;
    --preto-transparente: #00000052;
    --preto-fosco: #000000;
    --azul-claro-botao:#6ebbff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--branco-fonte);
}

.button {
    background-color: var(--azul-claro-botao);
}

body {
    height: 10000px;
}