.header {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.container_nav {
    position:absolute;
    z-index: 3; /* Posiciona o menu superior a frente da imagem de fundo */
}

.container1RollDown {
    position: fixed;
    background-color: var(--preto-fosco);
    top:0;
    transition: 1s;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 12px;
}

.container_nav > a > img{
    width: 48px;
}

#logo_principal {
    width: 120px;
}

.container1 > ul {
    display: none;
    flex-direction: column;
    align-items: center;
}

.container1 > ul > li {
    padding: 26px;
}

.menu_opened {
    background-color: var(--preto-fosco);
    transition: 0.5s;
    height: 100vh;
}

/* .container_nav_menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.container_nav_social {
    flex-grow: 1;
    display: none;
}



@media only screen and (min-width: 600px) {
    .container_nav {
        flex-direction: row-reverse;
    }

    .container_nav_menu > a {
        display: none;
    }

    .container_nav_menu > ul {
        display: flex;
        gap: 24px;
    }
}