.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/resort1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.container_nav {
    display: flex;
    flex-direction: row-reverse;
}

.background_black {
    background-color: var(--preto-fosco);
    transition: 0.5s;
}

.container_nav_menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container_nav_menu > a > img{
    width: 48px;
}

.container_nav_menu > ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    text-align: center;
}

.container_nav_menu > ul > li {
    padding: 20px;
}


.container_nav_logo {
    flex-grow: 1;
}

.container_nav_logo > img {
    width: 120px;
}

.container_nav_social {
    flex-grow: 1;
    display: none;
}