.contact-number {
    margin: 60px 20px 60px 20px;
}

.contact-number-container {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid var( --branco-transparente);
    padding: 26px;
    max-width: 768px;
    margin: auto;
}

.contact-number-container > h2 {
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--branco-fonte);
}

.contact-number-container > a {
    background-color: var(--azul-claro-botao);
    color: var(--branco-fonte);
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
}


@media only screen and (min-width:768px) {

}