.margin-200-100 {
    margin-top: 200px;
    margin-bottom: 100px;
}

.presentation-container {
    content: "";
    background: linear-gradient(var(--preto-fosco),var(--transparente) 90%);
    display: block;
    height: 100%;
    display: flex;
}

.presentation-container > h1 {
    margin: auto;
}

.presentation {
    height: 60vh;
    background-image: url("../assets/resort4.jpg");
    background-size:cover;
    background-position: center bottom;
    position: relative;
}